h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boxa{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}
.boxb {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}
#box1{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box3{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box4{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;

}
